apiVersion: v1
kind: Service
metadata:
  name: linkding
  namespace: linkding
spec:
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30090  # You can access via <node-ip>:30090
      protocol: TCP
  selector:
    app: linkding
  type: NodePort
